<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Bill</title>
</head>
<body>
    <div class="header">
        <img src="file://{{ image_path }}" alt="Government Logo" class="gov-logo">
        <h5>United Republic Of Tanzania</h5>
        <h3>National Institute for Medical Research</h3>
        <h6>Government Bill</h6>
    </div>

    <hr>

    <div class="bill-details">
        <div class="bill-info-container">
            <div class="bill-info">
                <table class="bill-info-table">
                    <tbody>
                        <tr>
                            <td><strong>Control Number</strong></td>
                            <td>: {{ bill.cntr_num }}</td>
                        </tr>
                        <tr>
                            <td><strong>Bill Ref</strong></td>
                            <td>: {{ bill.bill_id }}</td>
                        </tr>
                        <tr>
                            <td><strong>Service Provider Code</strong></td>
                            <td>: {{ bill.service_provider.code }}</td>
                        </tr>
                        <tr>
                            <td><strong>Payer Name</strong></td>
                            <td>: {{ bill.customer.get_name }}</td>
                        </tr>
                        <tr>
                            <td><strong>Payer Phone</strong></td>
                            <td>: {{ bill.customer.cell_num }}</td>
                        </tr>
                        <tr>
                            <td><strong>Bill Description</strong></td>
                            <td>: {{ bill.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="qrcode">
                <img src="file://{{ qr_code_path }}" alt="QR Code" class="qr-code">
                <p>SCAN & PAY</p>
            </div>
        </div>

        <hr class="bold-line">

        <div class="billed-item">
            <p><strong>Billed Item ({{ bill.billed_items.count }})</strong> :</p>
            <table class="billed-items-table">
                <tbody>
                    {% if bill.billed_items.count == 1 %}
                        <tr>
                            <td>1.</td>
                            <td>{{ bill.billed_items.description }}</td>
                            <td>{{ bill.billed_items.amount }}</td>
                        </tr>
                    {% else %}
                        {% for item in bill.billed_items.items %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.amount }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <hr class="bold-line">

        <div class="total-billed">
            <table class="total-billed-table">
                <tbody>
                    <tr>
                        <td><strong>Total Billed Amount</strong></td>
                        <td>: {{ bill.amt }} ({{ bill.currency }})</td>
                    </tr>
                    <tr>
                        <td><strong>Amount in words</strong></td>
                        <td>: {{ bill.amount_in_words }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="bill-footer-info-table">
            <tbody>
                <tr>
                    <td><strong>Expires On</strong></td>
                    <td>: {{ bill.expr_date|date:"d-M-Y" }}</td>
                </tr>
                <tr>
                    <td><strong>Prepared By</strong></td>
                    <td>: Justine Tibalinda</td>
                </tr>
                <tr>
                    <td><strong>Collection Center</strong></td>
                    <td>: {{ bill.dept.name }}</td>
                </tr>
                <tr>
                    <td><strong>Printed By</strong></td>
                    <td>: Justine Tibalinda</td>
                </tr>
                <tr>
                    <td><strong>Printed On</strong></td>
                    <td>: {{ bill.gen_date|date:"d-M-Y" }}</td>
                </tr>
                <tr>
                    <td><strong>Signature</strong></td>
                    <td><hr class="signature-line" ></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="payment-instructions">
        <div class="left-column">
            <h5>Jinsi ya Kulipa:</h5>
            <p>1. Kupitia Benki: Fika tawi lolote au wakala wa benki ya NMB, CRDB, NBC, BOT. Namba ya kumbukumbu: <strong>{{ bill.cntr_num }}</strong>.</p>
            <p>2. Kupitia Mitandao ya Simu</p>
            <p>• Ingia kwenye menyu ya mtandao husika</p>
            <p>• Chagua 4 (Lipa Bili)</p>
            <p>• Chagua 5 (Malipo ya Serikali) Ingiza <strong>{{ bill.cntr_num }}</strong> kama namba ya kumbukumbu</p>
        </div>

        <div class="right-column">
            <h5>How To Pay:</h5>
            <p>1. Via Bank: Visit any branch or bank agent of NMB, CRDB, NBC, BOT. Reference Number: <strong>{{ bill.cntr_num }}</strong>.</p>
            <p>2. Via Mobile Network Operators (MNO):</p>
            <p>• Enter to the respective USSD Menu of MNO</p>
            <p>• Select 4 (Make Payments)</p>
            <p>• Select 5 (Government Payments) Enter <strong>{{ bill.cntr_num }}</strong> as reference number</p>
        </div>
    </div>
</body>
</html>
