# True for development, False for production
DEBUG=True

SECRET_KEY=S3cr3t_K#Key

# DB_ENGINE=postgresql
# DB_HOST=localhost
# DB_NAME=ws_db
# DB_USERNAME=ws_db_usr
# DB_PASSWORD=S3cr3t
# DB_PORT=5432

# Celery settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0


# GEPG endpoints
# BILL_SUBMISSION_URL=http://<gepgIP>:<port>/api/bill/sigqrequest
# BILL_CANCELLATION_URL=http://<gepgIP>:<port>/api/bill/sigcancel_request 
# RECONCILIATION_REQUEST_URL=http://<gepgIP>:<port>/api/reconciliations/sig_sp_qrequest
# PAYMENT_REQUEST_URL=https://<gepgIP>:<port>/ api/sp/paymentRequest
# PAYMENT_STATUS_URL=https://<gepgIP>:<port>/ api/sp/statusRequest

# GEPG Request header parameters
# GEPG_COM=S3cr3t_com
# GEPG_CODE=S3cr3t_Code
# GEPG_ALG=S3cr3t_Alg

# GEPG Bill parameters
# SpCode="NIMR - 591"
# SubSpCode="Finance and Accounts - 1002"
# SpSysId="Service Provider System Identification Code"
