# True for development, False for production
DEBUG=True

SECRET_KEY=S3cr3t_K#Key

# DB_ENGINE=postgresql
# DB_HOST=db
# DB_NAME=billing_db
# DB_USERNAME=admin
# DB_PASSWORD=S3cr3t
# DB_PORT=5432

# Celery settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

#GEPG SERVER URL
GEPG_URL=https://uat1.gepg.go.tz

# GEPG API endpoints
BILL_SUBMISSION=/api/bill/20/submission
BILL_CANCELLATION=/api/bill/20/cancellation 
RECONCILIATION_REQUEST=/api/reconciliation/20/request
CONTROL_NUMBER_REUSE=/api/bill/20/reuse-submission
BILL_CHANGE_UPDATE=/api/bill/20/change-submission

# GEPG NORMAL BILL Request header parameters
GEPG_COM=default.sp.in
GEPG_CODE=SP19917
GEPG_ALG=00S2

# GEPG Bill parameters
SP_GRP_CODE=SP19917
SP_CODE=SP19917
SUB_SP_CODE=1001
SP_SYS_ID=TNIMR002

# Email Configuration Parameters
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=nimrhqs.noreply@gmail.com
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True

# Support emails
SUPPORT_EMAIL=billing.support@nimr.or.tz
DEVELOPER_EMAIL=john.a.mduda@gmail.com
