{% extends 'semantic-ui/layouts/base.html' %}
{% load static %}

{% block title %} Confirm Delete Service Provider {% endblock title %}

{% block content %}
<div class="sixteen wide column">
    <h1 class="ui header">Confirm Delete Service Provider</h1>
    <div class="ui warning message">
        <p>Are you sure you want to delete the service provider "{{ service_provider.name }}"?</p>
    </div>
    <form class="ui form" method="post" action="{% url 'billing:sp-delete' serviceprovider.pk %}">
        {% csrf_token %}
        <button class="ui red button" type="submit">Delete</button>
        <a href="{% url 'billing:sp-list' %}" class="ui button">Cancel</a>
    </form>
</div>
{% endblock content %}
