@page {
    size: A4;
    @bottom-center {
        content: "Government Payment Gateway © 2017 All Rights Reserved (GePG)";
        color: rgb(2, 74, 146);
        font-size: 12px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    font-size: 14px;
}

.header {
    text-align: center;
}

.gov-logo {
    width: 50px;
    display: block;
    margin: 0 auto 10px;
}

h3, h5, h6 {
    margin: 0;
}

.bill-details, .payment-instructions, footer {
    margin-top: 15px;
}

.bill-details p, .billed-item p, .total-billed p {
    margin: 5px 0;
    line-height: 1.5; /* Line spacing for bill details */
}

.bill-info-container {
    display: flex;
    justify-content: space-between; /* Adds space between the two divs */
    align-items: flex-start; /* Align items to the top */
}

.bill-info {
    width: 60%; /* Adjust the width of the bill info section */
}

.qrcode {
    width: 30%; /* Adjust the width of the QR code section */
    vertical-align: center;
}

.qrcode p {
    font-size: 9px; /* Smaller font for QR code instructions */
    text-align: center;
    margin-top: 2px;
}

.qr-code {
    max-width: 100%; /* Ensure the QR code scales appropriately */
}

.bill-description {
    font-size: 11px; /* Smaller font for bill description */
}

.bold-line {
    border: 1px dashed #000;
}

.billed-item, .total-billed {
    margin-top: 10px;
}

.left-column, .right-column {
    width: 45%;
    float: left;
    font-size: 12px; /* Smaller font for instructions */
}

.left-column {
    text-align: left;
}

.right-column {
    text-align: left;
    margin-left: 60px; /* Adjust this value to push the column to the right */
}

hr {
    border: 1px dashed #000;
    opacity: 1; /* Make the dotted line darker */
}

.payment-instructions::before {
    content: "";
    display: table;
    clear: both;
}

.signature {
    margin-top: 20px;
}

table.billed-items-table {
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    border-collapse: collapse;
}

table.billed-items-table td {
    padding: 5px 0;
}

table.billed-items-table td:first-child {
    width: 10%;
}

table.billed-items-table td:last-child {
    width: 30%;
    text-align: right;
    vertical-align: top;
}

table.total-billed-table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

table.total-billed-table td {
    padding: 5px 0;
}

table.total-billed-table td:first-child {
    width: 30%;
}

table.total-billed-table td:last-child {
    width: 70%;
    text-align: right;
    vertical-align: middle;
}

table.total-billed-table tr:last-child td {
    text-align: left;
}

table.bill-info-table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

table.bill-info-table td {
    padding: 5px 0;
}

table.bill-info-table td:first-child {
    width: 50%;
}

table.bill-info-table td:last-child {
    width: 50%;
    text-align: left;
}

table.bill-footer-info-table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

table.bill-footer-info-table td {
    padding: 5px 0;
}

table.bill-footer-info-table td:first-child {
    width: 30%;
}

table.bill-footer-info-table td:last-child {
    width: 70%;
    text-align: left;
}

table.bill-footer-info-table tr:last-child td {
    padding-top: 30px;
}
.signature-line {
    float: left;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px dashed #535252;
}
