{% extends 'semantic-ui/layouts/base.html' %}
{% load static %}

{% block title %} System Info Detail {% endblock title %}

{% block content %}
<div class="sixteen wide column">
    <div class="ui clearing basic segment">
        <h1 class="ui left floated header">System Info Detail</h1>
        <a href="{% url 'billing:system-info-list' %}" class="ui right floated vertical animated primary button"
            tabindex="0">
            <div class="visible content">Back to System Info List</div>
            <div class="hidden content centered">
                <i class="arrow left icon"></i>
            </div>
        </a>
    </div>
    <div class="ui segment">
        <h2 class="ui header">{{ system_info.name }}</h2>
        <p><strong>Active:</strong> {% if system_info.is_active %}<i class="check outline icon"></i>{% else %}<i class="times outline icon"></i>{% endif %}</p>
        <p><strong>Control Number Callback URL:</strong> {{ system_info.cntrnum_response_callback }}</p>
        <p><strong>Payment Notification Callback URL:</strong> {{ system_info.pay_notification_callback }}</p>
        <p><strong>Created:</strong> {{ system_info.created }}</p>
        <p><strong>Last Updated:</strong> {{ system_info.updated }}</p>
    </div>
    <div class="ui clearing basic segment">
        <a href="{% url 'billing:system-info-update' system_info.pk %}" class="ui left floated primary button"
            tabindex="0">
            Update
        </a>
        <a href="{% url 'billing:system-info-delete' system_info.pk %}" class="ui right floated negative button"
            tabindex="0">
            Delete
        </a>
    </div>
</div>
{% endblock content %}