{% extends 'semantic-ui/layouts/base.html' %}
{% load static %}

{% block title %} Delete System Info {% endblock title %}

{% block content %}
<div class="sixteen wide column">
    <div class="ui clearing basic segment">
        <h1 class="ui left floated header">Delete System Info</h1>
    </div>
    <div class="ui segment">
        <p>Are you sure you want to delete the system info "{{ system_info.name }}"?</p>
        <form method="post" action="{% url 'billing:system-info-delete' system_info.id %}">
            {% csrf_token %}
            <button class="ui red button" type="submit">Delete</button>
            <a href="{% url 'billing:system-info-list' %}" class="ui button">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}